@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
:root {
    --bg-color: #00191b;
    --font-color: #e4f876;
}

body {
    font-size: 120px;
    color: var(--font-color);
    font-family: "Rubik", sans-serif;
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: calc(50% - 380px);
    left: 50%;
    transform: translateX(-50%);
}

#metronome-arm {
    width: 14px;
    height: 450px;
    background-color: var(--font-color);
    transform-origin: bottom center;
    border: 0;
    border-radius: 2.5px 2.5px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 7px);
    transition: transform 500ms linear;
}

#metronome-arm.left {
    transform: rotate(-30deg);
}

#metronome-arm.right {
    transform: rotate(30deg);
}

#left-click {
    position: absolute;
    top: calc(50% - 250px);
    /* left: calc(50% - 230px); */
    left: calc(50% - 230px);
    transform: translateX(-50%);
}

#right-click {
    position: absolute;
    top: calc(50% - 250px);
    /* right: calc(50% - 240px); */
    right: calc(50% - 230px);
    transform: translateX(50%);
}

img {
    position: absolute;
    top: calc(50% - 80px);
    left: 50%;
    transform: translateX(-50%);
    width: 340px;
    height: auto;
    z-index: -1;
}
