<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
    <body>
        <%- include("partials/navbar") %>
        <h1>Home Page <%= 4 + 5 + 1 %></h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti exercitationem laborum voluptatibus
            recusandae est. Alias vero fugit possimus optio sint velit architecto atque eius exercitationem. Consequatur
            vero excepturi laudantium quod!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci iusto cum debitis maiores ipsa quam
            asperiores, vitae animi repellat officia sunt vero minima expedita maxime, enim veniam aliquid quidem
            dolores!
        </p>
    </body>
</html>
