html {
    height: 100%;
}

body {
    background: linear-gradient(#fffcf5 90%, rgba(0, 0, 0, 0.3));
    margin: 0;
    padding: 0;
    font-family: "Barlow Condensed", sans-serif;
    overflow: hidden;
}

#flowers {
    position: absolute;
    width: 375px;
    left: 0;
    top: 0;
}

#navbar {
    font-size: 30pt;
    font-weight: 500;
    position: relative;
    margin: 0 auto;
    top: 90px;
    bottom: 60px;
    width: 1170px;
    height: 70px;
}

/* Marek Pišl */
#navbar span:nth-child(1) {
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 0.5s;
}

#navbar span:nth-child(1):hover {
    color: #929088;
    transition-property: color;
    transition-duration: 0.5s;
}

/* animated leaves */
#navbar img:nth-child(2) {
    position: relative;
    bottom: 20px;
    animation: 2s cubic-bezier(0, 0, 1, -0.5) 0s 1 fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* vita */
#navbar span:nth-child(3) {
    position: absolute;
    font-weight: 400;
    vertical-align: middle;
    right: 60px;
    transition-property: color;
    transition-duration: 0.5s;
}

#navbar span:nth-child(3):hover {
    color: #929088;
    transition-property: color;
    transition-duration: 0.5s;
}

/* email */
#navbar img:nth-child(4) {
    position: absolute;
    right: 0;
    top: 20px;
    width: 21px;
    height: 21px;
    transition-property: filter;
    transition-duration: 0.5s;
}

#navbar img:nth-child(4):hover {
    /* This filter achieves the #929088 color, svg in img tag cannot be colored directly by color or fill properties */
    /* Filter generator: https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(63%) sepia(5%) saturate(440%) hue-rotate(11deg) brightness(90%) contrast(90%);
    transition-property: filter;
    transition-duration: 0.5s;
}

#tiles {
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    top: 120px;
    width: 1170px;
    height: 744px;
}

.tile {
    width: 370px;
    height: 228px;
}

.title {
    background-color: rgba(0, 0, 0, 0.75);
    height: 40px;
    position: relative;
    bottom: 42px;
    font-size: 16pt;
    text-align: center;
    line-height: 38px; /* Not true, it is 40px. However, this achieves desired vertical align of the text. */
}

.title span {
    font-weight: 500;
    color: #fffcf5;
    letter-spacing: 0.03em;
    vertical-align: baseline;
}
